* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.admin-layout-container {
    display: flex;
    min-height: 100vh;
}

.admin-layout-container .content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}